/* Created by: MariaG
* Created on: May 6, 2022
* This CSS file defines the style for index.php
*ICS2O-Assign-04-PHP-ShawarmaOrder
*/

body {
  width: 80%;
  margin: 5% 10%;
  font-family: Helvetica, Arial, sans-serif;
}

td {
  border: solid 1px;
  padding: 10px;
}

iframe {
  border: none;
  width: 100%;
}
